<div class="panel panel-info">
    <div class="panel-body" style="height:600px;overflow-y:auto;">
        <ul class="nav nav-list sidenav" id="treeul" data="url:/other/menu;">
            <li>
                <a href="javascript:void(0);" data="id:0;url:/;">
                    <span class="glyphicon glyphicon-minus"></span>根菜单(/)&nbsp;&nbsp;
                    <span class="label label-primary bstreeadd">添加子菜单</span>&nbsp;&nbsp;
                    <span class="label label-primary bstreeedit">修改</span>&nbsp;&nbsp;
                    <span class="label label-danger  bstreedel">删除</span>
                </a>
                <ul style="padding-left:20px;" id="treeid_0" class="nav collapse in">
                    <li>
                        <a href="javascript:void(0);" data="id:7;url:--;">
                            <span class="glyphicon glyphicon-minus"></span>权限(--)&nbsp;&nbsp;
                            <span class="label label-primary bstreeadd">添加子菜单</span>&nbsp;&nbsp;
                            <span class="label label-primary bstreeedit">修改</span>&nbsp;&nbsp;
                            <span class="label label-danger  bstreedel">删除</span>
                        </a>
                        <ul style="padding-left:20px;" id="treeid_7" class="nav collapse in">
                            <li>
                                <a href="javascript:void(0);" data="id:8;url:/ucenter;">
                                    <span class="glyphicon glyphicon-minus"></span>用户管理(/ucenter)&nbsp;&nbsp;
                                    <span class="label label-primary bstreeadd">添加子菜单</span>&nbsp;&nbsp;
                                    <span class="label label-primary bstreeedit">修改</span>&nbsp;&nbsp;
                                    <span class="label label-danger  bstreedel">删除</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data="id:9;url:/menu;">
                                    <span class="glyphicon glyphicon-minus"></span>菜单管理(/menu)&nbsp;&nbsp;
                                    <span class="label label-primary bstreeadd">添加子菜单</span>&nbsp;&nbsp;
                                    <span class="label label-primary bstreeedit">修改</span>&nbsp;&nbsp;
                                    <span class="label label-danger  bstreedel">删除</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data="id:10;url:/role;">
                                    <span class="glyphicon glyphicon-minus"></span>角色管理(/role)&nbsp;&nbsp;
                                    <span class="label label-primary bstreeadd">添加子菜单</span>&nbsp;&nbsp;
                                    <span class="label label-primary bstreeedit">修改</span>&nbsp;&nbsp;
                                    <span class="label label-danger  bstreedel">删除</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>