<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbEntity" connectionString="Server=tcp:f3ggpejdgv.database.chinacloudapi.cn,1433;Database=testDb;User ID=zixiang@f3ggpejdgv;Password=Srx901012;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
